/* ------ HEADER ------ */
header {
    padding: 10px 20px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .logo-img {
        width: 80px;
        border-radius: 50%;
    }
}