@charset "UTF-8";
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Montserrat, Arial, "Helvetica Neue";
}

.ver-link-underline {
  text-decoration: underline;
}

/* GLOBALES */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.border-line-header {
  border: 0.3px solid black;
}

/* ------ HEADER ------ */
header {
  padding: 10px 20px;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
header .logo-img {
  width: 80px;
  border-radius: 50%;
}

/* ------ PAGES - INDEX ------ */
.portada-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.portada-img-main {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

/* ------ SECCION TRABAJOS ------ */
.trabajos-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0px 100px;
  height: 15vh;
}

.trabajos-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /*  height: 75vh; */
}

.card-trabajos {
  width: 300px;
  height: 440px;
  /* box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4); */
  border: 0.5px solid gray;
  border-radius: 5px;
  margin: 20px 25px;
}

.trabajo-img {
  width: 100%;
  height: 90%;
}

.card-texto {
  text-align: center;
  font-weight: 300;
}

/* ------ SECCION SERVICIOS ------ */
.servicio-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 100px;
  height: 15vh;
}

.section-img-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.servicio-img {
  margin: 20px 0px;
  object-fit: cover;
  width: 50%;
  height: 85vh;
}

.menu-tamaño {
  font-size: 2rem;
  display: inline-block;
}

/* ------ SECCION BLOG ------ */
.blog-encabezado {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px 100px;
  height: 15vh;
}

.blog-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 85vh;  */
}

.blog-card {
  width: 300px;
  height: 440px;
  /* box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4); */
  border: 0.5px solid gray;
  border-radius: 5px;
  margin: 20px 25px;
}

.blog-page-card {
  width: 300px;
  height: 540px;
  /* box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.4); */
  border: 0.5px solid gray;
  border-radius: 5px;
  margin: 20px 25px;
}
.blog-page-card a {
  display: flex;
  justify-content: flex-end;
  font-size: smaller;
}

.blog-img {
  width: 100%;
  height: 90%;
}

.blog-page-img {
  width: 100%;
  height: 75%;
}

/* ------ SECCION BANNER ------ */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main-container img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.main-container h1 {
  position: absolute;
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 500;
  color: rgb(230, 231, 218);
  text-align: center;
  padding: 40px;
}

/* ------ PAGES - TRABAJOS ------ */
.main-container-pages {
  margin-bottom: 90px;
}
.main-container-pages h1 {
  padding: 40px 0px;
  margin-left: 20px;
}
.main-container-pages p {
  padding-bottom: 20px;
  margin-left: 20px;
}

.servicios-main-imgs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section-titulo-contactame {
  margin: 40px;
  font-size: 2rem;
}

/* ------ PAGES - ACERCA DE ------ */
.acerca-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.acercade-img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.acercade-titulo-contactame {
  margin: 40px;
  font-size: 2rem;
}

/* ------ FOOTER ------ */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "f1 f1 f2" "f4 f4 f4" "f3 f3 f3";
  background-color: #2B2B2B;
}
.footer-container a {
  color: snow;
}

.footer-1 {
  grid-area: f1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  color: snow;
}

.footer-1-suscribete {
  padding-bottom: 50px;
  font-size: 4rem;
}

.footer-1-desc {
  padding-bottom: 10px;
  font-size: 2 rem;
}

.email {
  margin-right: 20px;
}

.button-suscribete {
  border-radius: 5px;
}

.footer-2 {
  grid-area: f2;
  justify-self: right;
  align-self: flex-start;
  padding: 40px;
}
.footer-2 li {
  padding: 10px;
}

.footer-3 {
  grid-area: f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: snow;
}

.text-footer {
  font-size: 7rem;
  text-align: center;
}

.text-reservado {
  font-size: small;
}

.suscribirse-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}
.suscribirse-email input {
  height: 30px;
  width: 250px;
}
.suscribirse-email button {
  height: 30px;
  width: auto;
  padding: 5px;
}

.footer-4 {
  grid-area: f4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 40px;
  color: snow;
}

/*------ MEDIA QUERIES ------*/
@media screen and (max-width: 768px) {
  .trabajos-encabezado {
    align-items: last baseline;
    margin: 0px 20px;
  }
  .servicio-encabezado {
    align-items: last baseline;
    margin: 20px 20px;
  }
  .blog-encabezado {
    align-items: last baseline;
    margin: 20px 20px;
  }
  .main-container h1 {
    font-size: 57px;
    font-weight: 300;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-1-suscribete {
    padding-bottom: 10px;
    font-size: 1rem;
  }
  .suscribirse-email input {
    width: 150px;
  }
  .footer-2 {
    padding: 10px 1px;
  }
  .iframe-maps-mobile {
    width: 250px;
    height: 200px;
  }
  .text-footer {
    font-size: 3rem;
    text-align: center;
    padding: 10px 1px;
  }
  .servicios-main-imgs-container {
    justify-content: space-between;
  }
  .acerca-img-container {
    height: auto;
  }
}

/*# sourceMappingURL=main.css.map */
